.header {
  height: 89px;
  background-color: #FFF450;
}
.main {
  background-color: #EBFFF9;
  font-size: 15px;
}
.main__form {
  display: flex;
  justify-content: center;
  text-align: center;
}
.main__form__value {
  max-width: 45%;
}
.main__form__value .value01 {
  width: 142px;
  height: 124px;
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #165DA3;
}
.main__form__value .value02 {
  width: 142px;
  height: 124px;
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #165DA3;
}
.main__form__value .upbtn {
  padding: 1.1333333333em 1.1333333333em;
  background-color: #384878;
  cursor: pointer;
  border-radius: 100%;
}
.main__form__value input[type=file] {
  display: none;
}
.main__form__value #uploader {
  max-width: 100%;
}
.main__form__value #uploader02 {
  max-width: 100%;
}

.footer {
  background-color: #EBFFF9;
}