@use "../scss/base/color" as color;

body {
  width: 375px;
  margin: 0 auto;
  background-color: color.$color-main; //#EBFFF9
}

.header {
  height: 70px;
  background-color: color.$color-header; //#FFF450

  &__inner {
    padding: 0 (24em/15);
    height: 70px;
  }

  &__nav {

    &__gnav {
      padding-top: 13px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &__item {
        margin: auto 0;

        &__link {}

        &__icon {
          margin-left: 80%;
        }

        &__bell {}
      }
    }
  }
}

.main {
  background-color: color.$color-main; //#EBFFF9
  font-size: 15px;

  &__inner {
    padding: 0 (24em/15);
  }

  &__form {
    display: flex;
    justify-content: center;
    text-align: center;

    &__value {
      width: 50%;

      &__txt {
        padding-top: (49em/15);
        padding-bottom: (16em/15);
      }

      .value01 {
        width: 142px;
        height: 124px;
        background-color: #fff;
        border-radius: (20px);
        border: 3px solid color.$color-form; //#165DA3
        position: relative;
        margin-right: (17em/15);
      }

      .value02 {
        width: 142px;
        height: 124px;
        background-color: #fff;
        border-radius: (20px);
        border: 3px solid color.$color-form; //#165DA3
        position: relative;
        margin-left: (17em/15);
      }

      .upbtn {
        padding: (17em/15) (17em/15);
        background-color: #FFF450;
        cursor: pointer;
        position: absolute;
        display: inline-block;
        border-radius: 100%;
        top: (252em/15);
        width: 50px;
        height: 50px;
      }

      .upbtn01 {
        left: (136em/15);
      }

      .upbtn02 {
        left: (317em/15);
      }

      input[type="file"] {
        display: none;
      }

      #ocrResult {}

      #uploader {
        max-width: 100%;
      }
    }
  }

  .inactive {
    display: none !important;
  }

  &__ans {
    &__txt {
      text-align: center;
      padding-top: (19em/15);
    }

    &__value {
      width: 150px;
      height: auto;
      margin: 0 auto;

      &__canvas {
        // position: absolute;
        margin: 0 auto;
      }

      &__txt {
        text-align: center;
        padding-top: (22em/15);
        padding-bottom: (28em/15);

      }
    }
  }

  &__rst {
    width: 198px;
    background-color: color.$color-rst-btn; //#D0D02F
    text-align: center;
    vertical-align: baseline;
    border-radius: 38px;
    margin: 0 auto;
    margin-top: (40em/15);
    padding: (14em/15) (69em/15);

    &__btn {
      line-height: 1.733;
      vertical-align: top;
    }
  }
}

.footer {
  background-color: color.$color-main; //#EBFFF9
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
  &__inner {
  }

  &__nav {
    &__gnav {
            display: flex;
            justify-content: flex-start;
            flex-wrap: nowrap;
            text-align: baseline;
            position:relative;
      &__item {

        &__link {}

        &__img {}

      }

      .gnav01 {
        max-width: 108px;
        max-height: 86px;
        &__link {
          max-width: 108px;
          max-height: 86px;
        }

        &__img {
        }
      }

      .gnav02 {
        position: absolute;
        bottom: 6px;
        left: 115px;
        max-width: 61px;
        max-height: 61px;
        &__link {
        }

        &__img {
        }
      }

      .gnav03 {
        position: absolute;
        bottom: 6px;
        left: 194px;
        max-width: 61px;
        max-height: 61px;
        &__link {
        }
        &__img {
        }
      }
    }
  }
}